.container {
    display: grid;
    grid-template-rows: auto auto;
}

.header {
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;
}

li {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #bebebe;
}
