.container {
    display: grid;
    grid-template-rows: auto auto;
}

.header {
    height: 50px;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;
}

li {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #000000;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
}

a::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 4px;
    background-color: #00BFFF;
    bottom: 0px;
    left: 10%;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.3s;
}

a:hover,
a.active {
    color: #00BFFF;
}

a:hover::after,
a.active::after {
    opacity: 1;
}
